:root {
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  list-style: none;
}

body {
  background-color: var(--color-black);
}

.body {
  width: 80%;
  margin: 1% auto;
  /* border: 1px white solid; */

  padding: 5vh 0%;
}
/* logo */
.logo {
  width: 580px;
  margin: 0% auto;
  text-align: center;

  padding-bottom: 1vh;
  /* border: 1px white solid; */
}

.logo img {
  cursor: pointer;
}
/* menu */
.menu {
  width: 580px;
  margin: 0% auto;
  /* border: 1px white solid; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu img {
  width: 50px;
  margin: 0% 0.5em;
  cursor: pointer;
}
.menu input {
  width: 70px;
  height: 35px;
  margin: 0% 0.5em;
  border: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* section */
.section {
  width: 580px;
  height: 700px;
  margin: 0% auto;
  /* border: 1px white solid; */
  padding: 2vh 0%;
  overflow: hidden scroll;
}
.section::-webkit-scrollbar {
  display: none;
}

.contents {
  width: 450px;
  height: 60px;

  margin: 1vh auto;
  border-radius: 7px;
  background-color: var(--color-white);

  display: flex;
}

.image {
  width: 50px;
  margin: 5px 15px;
}

.details {
  margin: 0% 15px;
  align-self: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
